@import "tailwindcss";

@theme {
  --color-navy: rgb(15, 44, 89);
  --color-cream: rgb(248, 240, 229);
  --color-beige: rgb(221, 168, 83);
  --color-gray: rgb(30, 32, 30);
  /* --color-gray-two: rgba(30, 32, 30, 0.9); */
}

body {
  font-family: 'Playfair', 'sans-serif';
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', 'serif';
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-beige);
  border-radius: 2rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-gray);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--color-navy);
  cursor: pointer;
}